.pdfContainer {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  display: flex;
  transform: translateX(-100%);
  transition: 0.5s;

  .overlay {
    background: rgba($color: #000000, $alpha: 0.8);
    height: 100vh;
    width: 100%;
    position: absolute;
    cursor: pointer;
  }
  img {
    max-height: 95vh;
    margin: auto;
    max-width: 95%;
    transition: 0.5s;
    transform: translateY(-100vh);
    transition-delay: 0.5s;
    z-index: 100;
  }
  &.open {
    transform: translateX(0vh);
    img {
      transition-delay: 0.5s;
      transform: translateY(0%);
      z-index: 100;
    }
  }
}
