.header{
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 99;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #121212;
}

.ul{
  display: flex;
  list-style: none;
  height: min-content;
  width: max-content;
  justify-self: flex-end;
  margin-right: 1.5em;

  background-color: #121212;
}


.li{
  position: relative;
  font-size: 1em;
  font-family: 'Orbitron', sans-serif;
  cursor: pointer;
  padding: 1em .7em;
  border-radius: 5px;
  margin-right: 1px;
  overflow: hidden;
  color: white;
}
.li:hover{
  transform: translateY(-10px);
  transition: 0.5s;
}

.li::before{
  position: absolute;
  top: 0%; left: 0%;
  transform: translateX(calc(50% - 15px)) translateY(100%);
  content: '';
  background-image: url('../../../public/expand_more_FILL0_wght300_GRAD200_opsz48.svg');
  background-repeat: no-repeat;
  background-size: 30px ;
  filter: invert(75%) sepia(91%) saturate(898%) hue-rotate(47deg) brightness(97%) contrast(140%) drop-shadow(0px 0px 3px rgba(255, 255, 255, 0.4));
  height: 100%;
  width: 100%; 
  transition: .5s;
}

.li:hover::before{
  transform: translateX(calc(50% - 15px)) translateY(55%);
}

.header__content__mobile{
  position: relative;
  width: 35px;
  height: 40px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
  cursor: pointer;
}
.header__content__mobile__span {
  position: absolute;
  background-color: white;
  height: 5px;
  width: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  border-radius: 12px;

}

.header__content__mobile__span:nth-child(1){
  transform: translateY(-10px);
}
.header__content__mobile__span:nth-child(3){
  transform: translateY(10px);
}

.header__content__mobile__span__active {
  position: absolute;
  background-color: white;
  height: 5px;
  width: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  border-radius: 12px;

}

.header__content__mobile__span__active:nth-child(1){
  transform: rotate(45deg);
}
.header__content__mobile__span__active:nth-child(3){
  transform: rotate(-45deg);
}

.header__content__mobile__span__active:nth-child(2){
  display: none
}





@media only screen and (max-width: 600px) {
  .header__content__mobile{
    display: block;
  }

  .ul{
    display: none;
    background-color: green;

  }
  .li{
    margin: 20px;
    font-size: 1.5em;
  }
  .ul__active{
    display: flex;
    list-style: none;
    justify-self: flex-end;
    background-color: #121212;
    color: white;
    position: absolute;
    flex-direction: column;
    top:-50px;
    height: 110vh;
    width: 100%;
    margin: 0px;
    align-items: center;
    justify-content: center;

  }
}
