@import "../../styles/variables";

.skillsContainer{
    margin-top: 50px;
height: 100vh;
background-color: black;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
h2{
    color: white;
    font-family: $mainFont;
    margin-bottom: 50px;
}
.frontendContainer{
    h3{
        color: white;
        font-family: $mainFont;
    }
}
}