// @import "../../../styles/variables";
@import "../../../../styles/mixins";
.linksContainer {

  height:min-content;
  width: 5px;
  position: fixed;
  bottom: 0px;
  left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
@media screen and (max-width: 800px)  {
    display: none;
    
}
  .links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    & > *{
        margin: 10px;
        cursor: pointer;
    }
  }
  .line {
    margin-top: 20px;
    width: 2px;
    height: 80px;
    background-color: $textColor;
  }
}
