@import "../../styles/variables";

@import "../../styles/mixins";
.contactWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 100vh;
  position: relative;
  margin: auto;
  .textContent {
    width: 28vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: inline-block;


    h2 {
      font-family: $mainFont;
      color: $accentColor;
      font-size: 3vw;
      font-weight: bold;
      line-height: 1.3;
      max-width: unset;
      margin: 0;
      display: inline-block;
      white-space: nowrap;
      margin-bottom: 20px;
      
      a {
        img {
          height: 3vw;
        }
      }
    }
    p {
      font-size: 1.5vw;
      width: 100%;
      text-align: center;
      font-family: $mainFont;
      color: $textColor;
      margin: 0;
      display: inline-block;
    }
  }
  .contactForm {
    margin-top: 20px;
    width: 50vw;
    @media screen and (max-width: 1000px) {
      width: 60vw;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      section {
        width: 100%;

        div {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 100%;
          gap: 6vw;
          margin-top: 30px;
          @media screen and (max-width: 800px) {
            flex-direction: column;
          }
          & > * {
            gap: 5px;
            display: flex;
            flex-direction: column;
            input:focus,
            select:focus,
            textarea:focus,
            button:focus {
              outline: none;
            }
            label {
              font-family: $mainFont;
              color: rgba($color: #000000, $alpha: 0.3);
            }
            input {
              border: none;
              border-bottom: 1px solid black;
              padding: 15px 0 5px 0;
              font-size: 20px;
              width: 100% !important;
              font-family: $mainFont;
              &::placeholder {
                font-family: $mainFont;
                font-size: 18px;
                color: rgba($color: #000000, $alpha: 0.5);
              }
            }
            textarea {
              border: none;
              border-bottom: 1px solid black;
              padding: 15px 0 5px 0;
              font-size: 20px;
              rows: 2;
              resize: none;
              width: 100% !important;
              font-family: $mainFont;
              &::placeholder {
                font-family: $mainFont;
                font-size: 18px;
                color: rgba($color: #000000, $alpha: 0.5);
              }
            }
          }
        }
      }
      .buttonContainer {
        position: relative;
        height: 50px;
        width: 20vw;
        margin-top: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        @media screen and (max-width: 1000px) {
          width: 40vw;
        }
        @media screen and (max-width: 600px) {
          width: 50vw;
        }
        &.loading {
          &::before {
            height: calc(100% + 3px);
            width: 100%;
          }
          &::after {
            height: calc(100% + 3px);
            width: 100%;
          }
        }
        &:hover {
          &::before {
            height: calc(100% + 3px);
            width: 100%;
          }
          &::after {
            height: calc(100% + 3px);
            width: 100%;
          }
        }
        &::before {
          position: absolute;
          content: "";
          top: -3px;
          left: -3px;
          height: 20px;
          width: 20px;
          border-top: 3px solid $accentColor;
          border-left: 3px solid$accentColor;
          transition: 0.3s;
          pointer-events: none;
        }
        &::after {
          position: absolute;
          content: "";
          bottom: -3px;
          right: -3px;
          height: 20px;
          width: 20px;
          border-right: 3px solid $accentColor;
          border-bottom: 3px solid $accentColor;
          transition: 0.3s;
          pointer-events: none;
        }
        button {
          position: relative;
          background-color: transparent;
          color: White;
          border: none;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          color: black;
          transition: 0.3s;
          transform-origin: left;
          font-family: $mainFont;
          font-size: 22px;
          z-index: 100;
          cursor: pointer;
          img {
            height: 30px;
            margin-left: 20px;
          }

          &.loading {
            position: relative;
            overflow: hidden;

            &:before {
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              transform: translateX(-100%);
              background-image: linear-gradient(
                90deg,
                rgba($accentColor, 0) 0,
                rgba($accentColor, 0.2) 20%,
                rgba($accentColor, 0.4) 60%,
                rgba($accentColor, 0)
              );
              animation: shimmer 2s infinite;
              content: "";
            }
          }
        }
      }
    }
  }
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
