$mainBackgroundColor: rgb(20,20,20);
$mainColorDark: rgb(20,20,20);
$mainColorLight:#265BA5;
$textColor: #120945;
$accentColor: #7562e0;
$error: #df4759;
$success: #42ba96;


// Fonts

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');

$mainFont:'Josefin Sans', sans-serif;
$menuFontArvo: 'Arvo', serif;
$fontAbril: 'Abril Fatface', cursive;

$logoFont: 'Yellowtail', cursive;
